sudo: false
language: php

php:
 - 5.6
 - 7.0
 - 7.1
 - 7.2
 - hhvm

matrix:
  fast_finish: true
  allow_failures:
    - php: hhvm

before_script:
 - mkdir -p build/logs
 - curl -s https://getcomposer.org/installer | php
 - php composer.phar install

script:
 - php vendor/bin/phpunit -c . --coverage-clover build/logs/clover.xml
 - vendor/bin/phpcs src -s
 - vendor/bin/phpcs tests -s

after_script:
 - php vendor/bin/coveralls -vvv

notifications:
  email: martin.aarhof@gmail.com
